.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 40s linear;
    height: 40vmin;
    top: 19%;
    right: 25%;
    position: absolute;
    z-index: 100;
    justify-self: flex-start;
    align-self: flex-start;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

a {
    color: dodgerblue;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
